<!-- header sidebar Start -->
<header>
	<div class="header-top">
		<a href="javascript:;" class="sign_out">退出系统</a>
	</div>
	<div class="sidebar">
		<div class="fill">
			<div class="fill-s">
				<div class="heading-title">Heading-title</div>
				<ul class="nav">
					<li class="dropdown">
						<a class="menu" href="javascript:;"><img class="icon" src="../../images/header-icon-01.png" />状态</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:;"><i></i>总览</a></li>
							<li><a href="javascript:;"><i></i>DHCP列表</a></li>
							<li><a href="javascript:;"><i></i>在线认证用户</a></li>
							<li><a href="javascript:;"><i></i>路由表</a></li>
							<li><a href="javascript:;"><i></i>系统日志</a></li>
							<li><a href="javascript:;"><i></i>内核日志</a></li>
							<li><a href="javascript:;"><i></i>实时信息</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-02" href="javascript:;"><img class="icon" src="../../images/header-icon-02.png" />网络</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:;"><i></i>接口</a></li>
							<li><a href="javascript:;"><i></i>交换机</a></li>
							<li><a href="javascript:;"><i></i>静态IP分配</a></li>
							<li><a href="javascript:;"><i></i>静态路由</a></li>
							<li><a href="javascript:;"><i></i>防火墙</a></li>
							<li><a href="javascript:;"><i></i>网络诊断</a></li>
							<li><a href="javascript:;"><i></i>负载均衡</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-03" href="javascript:;"><img class="icon" src="../../images/header-icon-03.png" />用户认证</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:;"><i></i>新用户认证方式</a></li>
							<li><a href="javascript:;"><i></i>用户管理</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-04" href="javascript:;"><img class="icon" src="../../images/header-icon-04.png" />无线管理</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:;"><i></i>AP管理</a></li>
							<li><a href="javascript:;"><i></i>Radio状态</a></li>
							<li><a href="javascript:;"><i></i>无线用户</a></li>
							<li><a href="javascript:;"><i></i>WLAN管理</a></li>
							<li><a href="javascript:;"><i></i>防终端粘滞</a></li>
							<li><a href="javascript:;"><i></i>无线优化</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-05" href="javascript:;"><img class="icon" src="../../images/header-icon-05.png" />流量控制</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:;"><i></i>流量控制</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-06" href="javascript:;"><img class="icon" src="../../images/header-icon-06.png" />服务</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:;"><i></i>动态DNS</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-07" href="javascript:;"><img class="icon" src="../../images/header-icon-07.png" />系统</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:;"><i></i>系统</a></li>
							<li><a href="javascript:;"><i></i>管理权</a></li>
							<li><a href="javascript:;"><i></i>备份/升级</a></li>
							<li><a href="javascript:;"><i></i>重启</a></li>
						</ul>
					</li>
				</ul>
				<div class="footing-title">
					<h6>实时速率：</h6>
					<div class="dec clearfix">
						<b>2354</b>
						<div>
							<p>Kb/s</p>
							<p>上行速率</p>
						</div>
					</div>
					<div class="dec clearfix">
						<b>30</b>
						<div>
							<p>Kb/s</p>
							<p>下行速率</p>
						</div>
					</div>
					<div class="bt">
						<a href="javascript:;">查看更多</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<script type="text/javascript">
/*
$("header ul.dropdown-menu li a").each(function(index, element) {
	var httpUrl = window.location.href;
	if (httpUrl.indexOf($(element).attr("href")) > 0) {
		$(element).parent("li").addClass("li-curror").closest(".dropdown").addClass("ul-curror");
		$(element).closest("ul.dropdown-menu").show();
		return false;
	}
});
*/
$("header ul.nav").on("click", "li.dropdown a.menu", function() {
	if ($(this).siblings("ul.dropdown-menu").is(":animated")) return;
	if (!($(this).parent().hasClass("curror"))) {
		$(this).siblings("ul.dropdown-menu").slideDown()
			   .parent().addClass("curror")
			   .siblings("li.dropdown").removeClass("curror")
			   .find("ul.dropdown-menu").slideUp();
	} else {
		$("header li.dropdown").removeClass("curror");
		$("header ul.dropdown-menu").slideUp();
	}
});
$("header ul.nav").on("click", "ul.dropdown-menu li", function() {
	$(".nav .dropdown li.li-curror").removeClass("li-curror");
	$(this).addClass("li-curror");
});
</script>
<!-- header sidebar End -->